<form name="hire" method="post" class="form-horizontal">
    <div id="hire">


        <div class="form-group">
            <label class="col-sm-2 control-label required">Автомобиль:</label>

            <div class="col-sm-10">
                <select class="form-control" ng-model="hire.car">

                    <option ng-selected="{{ entity.id == hire.car.id }}"
                            ng-repeat="entity in data.cars"
                            value="{{entity.id}}">
                        {{entity.mark.name}} - {{entity.number}}
                    </option>


                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">Станция:</label>

            <div class="col-sm-10">
                <select class="form-control" ng-model="hire.point">

                    <option ng-selected="{{ entity.id == hire.point.id }}"
                            ng-repeat="entity in data.points"
                            value="{{entity.id}}">
                        {{entity.name}}
                    </option>


                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label required">Покупатель:</label>

            <div class="col-sm-10">
                <select class="form-control" ng-model="hire.customer">

                    <option ng-selected="{{ entity.id == hire.customer.id }}"
                            ng-repeat="entity in data.customers"
                            value="{{entity.id}}">
                        {{entity.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">Менеджер:</label>

            <div class="col-sm-10">


                <select class="form-control" ng-model="hire.worker">

                    <option ng-selected="{{ entity.id == hire.worker.id }}"
                            ng-repeat="entity in data.workers"
                            value="{{entity.id}}">
                        {{entity.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">Дата начала проката:</label>

            <div class="col-sm-10">
                <datepicker date-format="dd.MM.yyyy" selector="form-control ">
                    <div class="input-group">
                        <input class="form-control" placeholder="Дата начала проката" required="required"
                               ng-model="hire.startDate">
                        <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
                    </div>
                </datepicker>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label required">Дата начала проката:</label>

            <div class="col-sm-10">
                <datepicker date-format="dd.MM.yyyy" selector="form-control ">
                    <div class="input-group">
                        <input class="form-control" placeholder="Дата конца аренды" required="required"
                               ng-model="hire.endDate">
                        <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
                    </div>
                </datepicker>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label required">Стоимость:</label>
            <div class="col-sm-10">
                <input type="text"

                       ng-model="hire.cost"
                       required="required"
                       class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit"

                        ng-click="create(hire)"
                        class="btn-default btn">
                    Добавить запись
                </button>
            </div>
        </div>
    </div>
</form>