<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="/js/app/bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="/js/app/bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="/js/app/app.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="/js/app/bower_components/angular/angular.js"></script>


    <script src="/js/app/bower_components/angularUtils-pagination/dirPagination.js"></script>


    <script src="/js/app/bower_components/angular-route/angular-route.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/index.js"></script>
    <script src="/js/app/Api.js"></script>
    <script src="/js/app/list/listController.js"></script>
    <script src="/js/app/create/createController.js"></script>
    <script src="/js/app/update/updateController.js"></script>
    <script src="/js/app/car/carController.js"></script>
    <script src="/js/app/avg/avgController.js"></script>


{% endblock %}
</body>
</html>
