{% extends 'autocrm.html.twig' %}




{% block body %}

    {# % form_theme hire 'CRMBundle:Form:hire.html.twig' %}

      {% block stylesheets %}

          <link rel="stylesheet" href="/js/app/bower_components/html5-boilerplate/dist/css/normalize.css">
          <link rel="stylesheet" href="/js/app/bower_components/html5-boilerplate/dist/css/main.css">
          <link rel="stylesheet" href="/js/app/app.css">

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


      {% endblock %}


    {% block body %#}

    <h1>Hire</h1>
    {#{ form(hire) }#}

    <div ng-app="myApp">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Angular CRUD</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <div ng-view></div>
                </div>
            </div>

        </div><!-- /.container -->

    </div>


{% endblock %}

